name: Lint and Test Before Merge 
on:
  pull_request:
    types: [opened, edited, synchronize]
    branches:
      - release
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      IMAGEKIT_PUBLIC_KEY: ${{ secrets.IMAGEKIT_PUBLIC_KEY }}
      IMAGEKIT_PRIVATE_KEY: ${{ secrets.IMAGEKIT_PRIVATE_KEY }}
      IMAGEKIT_URL: ${{ secrets.IMAGEKIT_URL }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_USER: ${{ secrets.DB_USER }}
      SECRET_KEY: secret
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
      - name: Migration undo
        run: npm run db:migrate:undo
      - name: Migration database        
        run: npm run db:migrate
      # - name: Seed database        
      #   run: npm run db:seed
      - name: Test code
        id: run-tests
        run: npm run test
      - name: Notify Pull Request Made
        uses: rjstone/discord-webhook-notify@v1
        if: always()
        with:
          severity: info
          details: Ada Pull Request di Repo BE Tim c15
          webhookUrl: ${{ secrets.discord_webhook_url }}
      - name: Send status to Discord
        uses: nebularg/actions-discord-webhook@v1
        with:
          webhook_url: ${{ secrets.discord_webhook_url }} # required
          status: ${{ job.status }} # optional, this is the default
        if: always() # or failure() or success()
  lint:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
      - name: Lint code
        run: npm run lint
      - name: Send status to Discord
        uses: nebularg/actions-discord-webhook@v1
        with:
          webhook_url: ${{ secrets.discord_webhook_url }} # required
          status: ${{ job.status }} # optional, this is the default
        if: always() # or failure() or success()
  merge:
    needs: [test, lint]
    environment: testing
    runs-on: ubuntu-latest
    steps:
      - name: Merge
        run: echo "Can Be Merge..."
  report:
    needs: merge
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |
          echo "Something went wrong"
          echo "${{ toJSON(github) }}"